@font-face {
  font-family: Nunito;
  src: 
      local('Nunito'),
      url('../assets/fonts/Nunito-Medium.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
/* Nunito bold */
@font-face {
  font-family: Nunito;
  src: 
      local('Nunito'),
      url('../assets/fonts/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Nunito;
  src: 
      local('Nunito'),
      url('../assets/fonts/Nunito-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Nunito;
  src: 
      local('Nunito'),
      url('../assets/fonts/Nunito-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}