.header {
  background-color: white;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #CCD1D2;
}
.header .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  text-align: center;
  font-size: 2.4rem;
}
.header-navigation__ul {
  column-gap: 24px;
  display: flex;
  align-items: center;
}
.header .link-underline {
  font-weight: 600;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
}
.header__bag-li {
  margin-left: 36px;
}
.header__bag-icon {
  width: 20px;
}

@media screen and (min-width: 800px) {
  .header__logo {
    margin-right: auto;
  }
  .header .wrapper {
    flex-direction: row;
  }
}