.wrapper {
  max-width: 1180px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 1180px) {
  .wrapper {
      padding: 0;
  }
}
.wrapper--large {
  max-width: 1600px;
  padding: 0 16px;
  margin: 0 auto;
}
.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nunito {
  font-family: Nunito, Arial, Helvetica, sans-serif;
}